alacritty/
baloofileinformationrc
CurseForge/
dconf/
discord/
Electron/
flutter/
glib-2.0/
go/
gtk-3.0/
gtk-4.0/
htop/
heroic/
kde.org/
libvirt/
libreoffice/
menus/
nemo/
nvim/
ow-electron/
pulse/
rofi.dmtr/
rustdesk/
session/
systemd/
unity3d/
wlogout/
yay/
QtProject.conf
dolphinrc
gtkrc
gtkrc-2.0
kdeglobals
kiorc
kservicemenurc
ktrashrc
partitionmanagerrc
trashrc
typescript
user-dirs.dirs
user-dirs.locale
VirtualBox/
zoom.conf
zoomus.conf
