@import "/home/dmtr/.cache/wal/colors-waybar.css";

/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @color0;*/
		background-color: @critical;
	}
}


/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: rgba(30, 30, 30, 0.25); /* #282828e0 */
	color: @color0;
	font-family: UbuntuNerd Mono;
	font-size: 10pt;
	font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: @color0;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 2pt;
	padding-right: 2pt;
	color: @color0;
	background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @color0;
	background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @color0;
	background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @color0;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @color0;
	color: @color0;
}

#window {
        background: @color6;
        padding: 0 10px;
        margin: 0px;
}

#pulseaudio {
	background: @color1;
	color: @color0;
}

#network {
	background: @color2;
	color: @color0;
}

#memory {
	background: @color3;
	color: @color0;
}

#language {
	background: @color4;
	color: @color0;
}

#tray {
	background: @color5;
}

#clock.date {
	background: @color5;
	color: @color0;
}

#clock.time {
	background: @color6;
	color: @color0;
}

#custom-arrow1 {
	font-size: 11pt;
	color: @color6;
	background: @color5;
}

#custom-arrow2 {
	font-size: 11pt;
	color: @color5;
	background: @color4;
}

#custom-arrow3 {
	font-size: 11pt;
	color: @color4;
	background: @color3;
}

#custom-arrow4 {
	font-size: 11pt;
	color: @color3;
	background: @color2;
}

#custom-arrow5 {
	font-size: 11pt;
	color: @color2;
	background: @color1;
}

#custom-arrow6 {
	font-size: 11pt;
	color: @color1;
	background: @transparent;
}

#custom-arrow7 {
	font-size: 11pt;
        background: @transparent;
        color: @color6;
}
