/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #2E344000;
    background-alt: #383E4ACC;
    foreground:     #E5E9F0FF;
    selected:       #81A1C1FF;
    active:         #A3BE8CFF;
    urgent:         #BF616AFF;
}
